<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method='POST'>
        {% csrf_token %}
        <p>
            <label for="1234">username</label>
            <input type="text" id='1234' name='username'>
        </p>
        <p>
            <label for="123">password</label>
            <input type="password" id='123' name='password'>
        </p>
        <button>submit</button>
    </form>
</body>
</html>